<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>Nostrum</title>
		<script src='https://cdn.tailwindcss.com'></script>
	</head>

	<body>
		<header>
			<h1>Welcome to Nostrum: Using Tailwinds Theme</h1>
		</header>

        {{> navbar }}

		<main>
			{{{body}}}
		</main>

		{{> footer }}

		<script src='script.js'></script>
	</body>
</html>