<footer>
<div class="footer">        
        <div class="disclaimer row"><h6>Important Information</h6><p>Business Contract Hire rates are for business users only and examples shown exclude VAT. Where Personal Contract Hire rates are shown VAT has been included. Vehicles must be returned in good condition and within agreed mileage, otherwise further charges will be incurred. Prices correct at time of going to print and are subject to change without notice. This is not an official quote until confirmed with an authorised Ford Lease Dealer.</p><p>Finance subject to status. Guarantees and indemnities may be required. You will not own the vehicle at the end of the agreement. Subject to availability at a Ford UK Authorised Dealer for all vehicles with finance accepted and vehicle registered between 1 October - 31 December 2024. Not available with any other promotion. Ford Lease is provided by ALD Automotive Limited (ALD) Oakwood Drive, Emersons Green, Bristol, BS16 7LB. ALD is registered in England  and Wales with registration number: 987418. ALD is authorised and regulated by the Financial Conduct Authority (Firm Reference Number: 308101).</p><p>The fuel consumption, battery range and CO<sub>2</sub> emission figures shown are derived from the Worldwide Harmonised Light Vehicle Test Procedure (WLTP). These figures may not reflect real life driving results, which will depend upon a number of factors including the accessories fitted, variations in weather, driving styles and vehicle load. The figures shown are for comparability purposes; only compare fuel consumption, battery range and CO2 figures with other vehicles tested to the same technical procedures.</p><p>Where a range figure is shown, this reflects the potential impact of adding optional features to the base vehicle. Please speak to your dealer for more information.</p><p>The corporate tax, personal tax and VAT treatment associated with the purchase or leasing of a commercial vehicle may vary depending on your precise circumstances, relevant tax law and vehicle classification. Customers are therefore advised to seek professional advice with regard to taxation.</p>
        <div class="footer-links row">
            <div class="columns col-2">
                <h4 style="height: 23px;">Legal</h4>
                <ul>
                    <li class="row"><a href="https://www.ford.co.uk/useful-information/terms-and-privacy">Terms &amp; Conditions</a></li>
                    <li class="row"><a href="https://www.ford.co.uk/useful-information/terms-and-privacy">Privacy</a></li>
                    <li class="row"><a href="https://www.ford.co.uk/useful-information/legal-notices">Ford Legal Notices</a></li>
                    <li class="row"><a href="/legal/cookies/">Cookie Policy</a></li>
                    <li class="row"><a href="/legal/cookies/manage/">Cookie Preferences</a></li>
                </ul>
            </div>
            <div class="columns col-2">
                <h4 style="height: 23px;">Help</h4>
                <ul>
                    <li class="row"><a href="https://www.ford.co.uk/help/general/contact-us">Contact Us</a></li>
                    <li class="row"><a href-"https:="" www.ford.co.uk="" useful-information="" accessibility"="">Accessiblity</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</footer>